<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubhouse</title>
    <link rel="stylesheet" href="/styles/clubhouse-styles.css">
</head>
<body>
    <div class="content-wrapper">
        <%- include('./components/club-nav.ejs') %>
        <a href="/clubhouse/write" id="write">Write a message!</a>
        <div class="message-box">

            <% if (locals.messages) { %>
                <ul>
                <% messages.forEach(message => { %>
                    <li class="message">
                        <% if (locals.currentUser.member_status && message.member_status) {%>
                        <p class="member-tag">Secret Member!</p>
                        <% } %> 
                        <% if (message.admin_status) {%>
                        <p class="admin-tag">Admin</p>
                        <% } %> 
                        <p class="m-username"><%= message.username %></p>
                        <p class="m-title"><%= message.title %></p>
                        <p class="m-text"><%= message.text %></p>
                        <p class="m-date"><%= message.time %></p>
                        <% if (locals.currentUser.admin_status) {%>
                        <form action="/auth/messages/delete" method="post">
                            <input type="hidden" name="message_id" value="<%= message.message_id %>"> </input>
                            <button>DELETE MESSAGE</button>
                        </form>
                        <% } %> 
                    </li>
                <% })%>
                </ul>
            <% } %>
        </div>
    </div>
</body>
</html>