<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/clubhouse-styles.css">
</head>
<body>
    <div class="content-wrapper">
        <%- include('./components/club-nav.ejs') %>
        <% if (locals.currentUser.member_status) { %>
            <h1>Am a user</h1>
            <a href="/clubhouse/secret-club/write" id="write">Write a message!</a>

            <div class="message-box">
                <% if (locals.secret_messages) { %>
                    <ul>
                    <% secret_messages.forEach(message => { %>
                        <li class="message">
                            <p><%= message.username %></p>
                            <p><%= message.title %></p>
                            <p><%= message.text %></p>
                            <p><%= message.time %></p>
                        </li>
                    <% })%>
                    </ul>
                <% } %>
            </div>

        <% } else { %>
            <h1>You are not a secret member!</h1>

            <% if (locals.wrongAttempt) { %>
                <h1>Wrong attempt!</h1>
            <% } %>

            <form action="/clubhouse/secret-club" method="post">
                <label form="passcode">Enter the secret code to become a user:</label>
                <input id="passcode" name="passcode" type="text" required>
                
                <button type="submit">Submit!</button>
            </form>
        <% }%>
    </div>
</body>
</html>